<%- include('partials/header.ejs', { pageTitle: 'Accueil' }) %>

<div class="home-container">

  <h1 class="main-title">Bienvenue sur la plateforme E-Learning <span>Knowledge</span> !</h1>
  <h2 class="sub-title">Soif de savoir ?</h2>

  <p class="home-intro">
    Bienvenue sur Knowlmedge, la plateforme d’apprentissage pensée pour les esprits curieux et ambitieux. Que vous souhaitiez développer de nouvelles compétences, vous reconvertir, ou simplement nourrir votre soif de connaissances,
     nous avons conçu des cursus et des leçons accessibles, pratiques et motivantes. Apprenez à votre rythme, progressez selon vos envies, et ouvrez la porte à de nouvelles opportunités.
  </p>

  <div class="cta-wrapper">
    <a href="/auth/register" class="cta-button">Inscrivez-vous !</a>
  </div>

  <% if (featuredCursus && featuredCursus.length > 0) { %>
    <h2 class="section-title">À la une en ce moment</h2>
    <div class="cursus-grid">
      <% featuredCursus.forEach(cursus => { %>
        <div class="cursus-card">
          <div class="card-image">
            <img src="/uploads/cursus/<%= cursus.img %>" />
          </div>
          <div class="card-body">
            <h3><%= cursus.title %></h3>
            <p><%= cursus.description %></p>
            <a href="/cursus/<%= cursus._id %>" class="btn">Voir les leçons</a>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>
</div>

<%- include('partials/footer.ejs') %>
