<%- include('../partials/header.ejs', { pageTitle: 'Mes Commandes' }) %>

<h2>Historique de mes achats</h2>
<ul>
  <% userOrders.forEach(order => { %>
    <li>
      Commande #<%= order.id %> - Date : <%= order.date %>
      <ul>
        <% order.items.forEach(item => { %>
          <li>
            <%= item.type %> : <%= item.title %> | Prix : <%= item.price %>
          </li>
        <% }); %>
      </ul>
      <strong>Total : <%= order.totalPrice %> €</strong>
    </li>
  <% }); %>
</ul>

<%- include('../partials/footer.ejs') %>
